<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>

    <!-- 引入Vue2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<div id="app" class="container-xxl">
    <h1 class="bold">Chat with AI
        <button type="button" class="btn btn-light position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        设置
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                v-if="needCheckSetOptions"
            >
                <span class="visually-hidden">存在需确认的设置</span>
            </span>
        </button>
    </h1>
    <div class="conversation">
        <!-- 显示对话内容 -->
        <div v-for="(message, index) in messages" :key="index" class="message">
            {{ message.role }}: <br>
            <p style="white-space: pre;">{{ message.content }}</p>
        </div>
    </div>

    <div class="input-group">
        <textarea v-model="userInput" @keyup.enter.exact="sendMessage" class="form-control"></textarea>
        <button @click="sendMessage"
                class="btn btn-primary btn-lg"
                type="button"
        >发送</button>
    </div>

    <!-- 设置Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">设置</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">BaseURL</label>
                            <input type="text" class="form-control" id="baseURL" aria-describedby="emailHelp"
                                   v-model="setOptions.API.baseURL"
                            >
                            <div id="emailHelp" class="form-text">模型的基础路径，形如<code>https://api.openai.com</code></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">APIKey</label>
                            <input type="text" class="form-control" id="apiKey"
                                   v-model="setOptions.API.apiKey"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">模型</label>
                            <input type="text" class="form-control" id="model"
                                v-model="setOptions.API.model"
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
    const vm = new Vue({
        el: '#app',
        data() {
            return {
                userInput: '',
                messages: [],
                setOptions: {
                    API: {
                        baseURL: "https://aihub.imldy.nl",
                        apiKey: "sk-xxx",
                        model: "gpt-3.5-turbo-16k"
                    }
                }
            }
        },
        computed: {
            needCheckSetOptions: function () {
                return this.setOptions.API.apiKey.length !== 51;
            }
        },
        methods: {
            async sendMessage() {
                const userMessage = {
                    role: "user",
                    content: this.userInput
                }
                this.userInput = ""
                this.messages.push(userMessage);
                const assistantMessage = {
                    role: "assistant",
                    content: ""
                }
                this.messages.push(assistantMessage);
                const url = `${this.setOptions.API.baseURL}/v1/chat/completions`;
//直接获取 Fetch 的response， 无法使用 await的话， Promise的方式也是可以的。
                const response = await fetch(url, {
                    method: "POST",
                    body: JSON.stringify({
                        model: this.setOptions.API.model,
                        messages: this.messages ,
                        stream: true,
                        temperature: 0.7
                    }),
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: `Bearer ${this.setOptions.API.apiKey}`
                    }
                })
                //获取UTF8的解码
                const decoder = new TextDecoder("utf-8");
                //获取body的reader
                const reader = response.body.getReader();
                const streamPrefix = "data: "
                while (true) {
                    const {done, value} = await reader.read();
                    if (done) {
                        break;
                    }
                    // 解码内容
                    const str = decoder.decode(value);
                    let text_list = str.split("\n")
                    text_list.forEach((element) => {
                        if (element.startsWith(streamPrefix)) {
                            const answer = element.substring(streamPrefix.length - 1)
                            let json = JSON.parse(answer)
                            if (json.choices[0].finish_reason !== "stop")
                                assistantMessage.content += json.choices[0].delta.content;
                        }
                    })
                }
            },
            loadSetOptions() {
                const setOptions = JSON.parse(localStorage.getItem("setOptions"))
                if (setOptions) {
                    this.setOptions = setOptions;
                }
            }
        },
        watch: {
            setOptions: {
                handler(newVal, oldVal) {
                    localStorage.setItem("setOptions", JSON.stringify(newVal));
                },
                deep: true
            },
        }
    });
    // 启动时加载持久化的数据
    vm.loadSetOptions();
</script>

</body>
</html>
