<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>

    <!-- 引入Vue2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<div id="app" class="container-xxl">
    <h1 class="bold">Chat with AI
        <button type="button" class="btn btn-light position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        @click="clickSetButton()"
        >
            <i class="bi bi-sliders2-vertical"></i>
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                v-if="needCheckSetOptions"
            >
                <span class="visually-hidden">存在需确认的设置</span>
            </span>
        </button>
        <a class="btn btn-light" tabindex="-1" role="button" aria-disabled="true"
           href="https://imldy.cn"
           target="_blank"
        >
            <img src="https://imldy.cn/img/avatar.jpg" alt="imldy的头像"
                style="height: 25px"
            >
        </a>
    </h1>
    <div class="conversation">
        <!-- 显示对话内容 -->
        <div v-for="(message, index) in messages" :key="index" class="message"
        >
            <label for="role" class="form-label">
                <span class="badge"
                      :class="roleColorMap[message.role]"
                >{{ message.role }}</span>
            </label>
            <p style="white-space: pre-wrap;">{{ message.content }}</p>
        </div>
    </div>

    <div class="input-group">
        <textarea v-model="userInput" @keyup.enter.exact="sendMessage" class="form-control"></textarea>
        <button @click="sendMessage"
                class="btn btn-primary btn-lg"
                type="button"
        >发送</button>
    </div>

    <!-- 设置Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">设置</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">BaseURL</label>
                            <input type="text" class="form-control" id="baseURL" aria-describedby="emailHelp"
                                   v-model="setOptions.API.baseURL"
                            >
                            <div id="emailHelp" class="form-text">模型的基础路径，形如 <code>https://api.openai.com</code></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">APIKey</label>
                            <input type="text" class="form-control" id="apiKey"
                                   v-model="setOptions.API.apiKey"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">模型</label>
                            <select class="form-select" aria-label="选择一个Chat模型" id="model"
                                v-model="setOptions.API.model"
                            >
                                <option v-for="(model, index) in modelList" :key="index"
                                        v-bind:value="model"
                                >
                                    {{ model }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="temperatureInput" class="form-label">temperature</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon2">{{ Number.parseFloat(setOptions.API.temperature).toFixed(1) }}</span>
                                <input type="range" class="form-control" id="temperature"
                                       aria-describedby="temperatureHelp"
                                       v-model.number="setOptions.API.temperature"
                                       min="0.0" max="2.0" step="0.1"
                                >
                            </div>
                            <div id="temperatureHelp" class="form-text">模型创造性与此数值成正相关，具体请查阅
                                <a href="https://platform.openai.com/docs/guides/text-generation/how-should-i-set-the-temperature-parameter">OpenAI文档</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom text-center">
        <a class="icon-link icon-link-hover" href="https://github.com/imldy/ChatSimple">
            <i class="bi bi-github"></i>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
    const vm = new Vue({
        el: '#app',
        data() {
            return {
                userInput: '',
                messages: [
                    {
                        role: "system",
                        content: `You are ChatGPT, a large language model trained by OpenAI.`
                    }
                ],
                setOptions: {
                    Version: 0.1,
                    Read: false, // 是否已读设定
                    API: {
                        baseURL: "https://aihub.imldy.nl",
                        apiKey: "sk-xxx",
                        model: "gpt-3.5-turbo-16k",
                        temperature: 0.7,
                    }
                },
                modelList: [
                    "gpt-4-turbo-preview",
                    "gpt-4-0125-preview"
                    "gpt-3.5-turbo",
                    "gpt-3.5-turbo-16k",
                    "gpt-4",
                    "gpt-4-32k"
                ],
                roleColorMap: {
                    system: "text-bg-primary",
                    user: "text-bg-secondary",
                    assistant: "text-bg-info"
                }
            }
        },
        computed: {
            needCheckSetOptions: function () {
                return this.setOptions.API.apiKey.length !== 51
                    || !this.setOptions.Read // 未读
                    ;
            }
        },
        methods: {
            async sendMessage() {
                const userMessage = {
                    role: "user",
                    content: this.userInput
                }
                this.userInput = ""
                this.messages.push(userMessage);
                const assistantMessage = {
                    role: "assistant",
                    content: ""
                }
                this.messages.push(assistantMessage);
                const url = `${this.setOptions.API.baseURL}/v1/chat/completions`;
//直接获取 Fetch 的response， 无法使用 await的话， Promise的方式也是可以的。
                const response = await fetch(url, {
                    method: "POST",
                    body: JSON.stringify({
                        model: this.setOptions.API.model,
                        messages: this.messages ,
                        stream: true,
                        temperature: this.setOptions.API.temperature
                    }),
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: `Bearer ${this.setOptions.API.apiKey}`
                    }
                })
                //获取UTF8的解码
                const decoder = new TextDecoder("utf-8");
                //获取body的reader
                const reader = response.body.getReader();
                const streamPrefix = "data: "
                while (true) {
                    const {done, value} = await reader.read();
                    if (done) {
                        break;
                    }
                    // 解码内容
                    const str = decoder.decode(value);
                    let text_list = str.split("\n")
                    text_list.forEach((element) => {
                        if (element.startsWith(streamPrefix)) {
                            const answer = element.substring(streamPrefix.length - 1)
                            if (answer.endsWith("[DONE]"))
                                return
                            let json = JSON.parse(answer)
                            if (json.choices[0].finish_reason !== "stop" && json.choices[0].content !== null)
                                assistantMessage.content += json.choices[0].delta.content;
                        }
                    })
                }
            },
            loadSetOptions() {
                const setOptions = JSON.parse(localStorage.getItem("setOptions"))
                if (setOptions) {
                    // 初版不存在版本号，约等于0
                    if (setOptions.Version === undefined)
                        setOptions.Version = 0.0
                    // “设置”的版本迁移
                    if(setOptions.Version < this.setOptions.Version){
                        // 当小于时，依次判断小于的等级，依次根据版本增加属性
                        if (setOptions.Version < 0.1){ // 在0升级至0.1版本中
                            // 新增了温度设定
                            setOptions.API.temperature = this.setOptions.API.temperature;
                        }
                        // 产品设计：每个设置选项的新版本都要让用户查看(新)设置项
                        // 0.1增加“是否已读新设定”，默认为false
                        // 所以只要涉及版本，就要设置为false(默认值)
                        setOptions.Read = setOptions.Read = this.setOptions.Read;
                        // 逻辑到这里，应该是添加完所有版本的新属性，所以将版本置为当前版本
                        setOptions.Version = this.setOptions.Version
                    }
                    // 无论是否小于，逻辑到这里都要让Vue管理设置项
                    this.setOptions = setOptions;
                }

            },
            clickSetButton() {
                this.setOptions.Read = true
            }
        },
        watch: {
            setOptions: {
                handler(newVal, oldVal) {
                    localStorage.setItem("setOptions", JSON.stringify(newVal));
                },
                deep: true
            },
        }
    });
    // 启动时加载持久化的数据
    vm.loadSetOptions();
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</body>
</html>
